<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxiang.guli.service.ucenter.mapper.MemberMapper">

    <select id="selectMemberDTOById" resultType="com.yuxiang.guli.service.base.dto.MemberDTO">

    </select>

    <select id="selectRegisterNumberByDate" resultType="Integer" >
        select count(*)
        from ucenter_member
        where date(gmt_create) = #{date}
    </select>
</mapper>
